<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">

    <title>Remember Thee</title>

    <link rel="icon" href="../static/images/favicons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Keep God's Word on hand when you need it" />
    <meta name="image" content="https://www.rememberthee.com/" />
    <meta property="og:title" content="Remember Thee" />
    <meta property="og:description" content="Keep God's Word on hand when you need it" />
    <meta property="og:image" content="https://www.rememberthee.com/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://www.rememberthee.com/" />
    <meta name="twitter:creator" content="" />
    <meta name="twitter:title" content="Remember Thee" />
    <meta name="twitter:description" content="Keep God's Word on hand when you need it" />

    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicons/site.webmanifest">

  </head>
  <body>
   <!-- Hero -->
    <section id="hero" class="text-center container-fluid">
      <div class="row">
        <div class="col">
          <img src="{{ url_for('static', filename='images/App Logo Dark.png') }}">
          <h1>Remember Thee</h1>
          <h3 class="p-3">Keep God's Word on hand when you need it</h3>
          <div id="hero-hook">
            <p class="p-1">Do you ever come across useful Bible verses but later have trouble recalling them when you need them?</p>
            <p class="pt-1 pb-3">Remember Thee is an app that helps you recall Scripture when you need it.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- How it works -->
    <section id="how-it-works" class="text-center container">
      <div class="row">
        <h3><u>How it works</u></h3>
      </div>
      <div class="row gx-5 row-cols-1 row-cols-lg-3">
        <div class="col py-3">
          <div class="number">
            1
          </div>
          <p class="p-3">
            <b><u>Add</u></b> verses you want to remember.
          </p>
          <img src="{{ url_for('static', filename='images/step1-full.gif') }}" class="img-fluid">
        </div>
        <div class="col py-3">
          <div class="number">
            2
          </div>
          <p class="p-3">
            Assign a <b><u>category</u></b> for later reference.
          </p>
          <img src="{{ url_for('static', filename='images/step2-full.gif') }}" class="img-fluid">
        </div>
        <div class="col py-3">
          <div class="number">
            3
          </div>
          <p class="p-3">
            Quickly <b><u>find</u></b> verses by category when you need them.
          </p>
          <img src="{{ url_for('static', filename='images/step3-full.gif') }}" class="img-fluid">
        </div>
      </div>
    </section>

    <!-- Value -->
    <section id="value" class="text-center container-fluid">
      <div class="container">
        <div class="row gx-5 row-cols-1 row-cols-lg-3">
          <div class="col py-3">
            <h3><u>Quick</u></h3>
            <p>Remember Thee has only what you put in it. No more filtering through large amounts of text in your Bible or through search results from Google or Bible apps.</p>
          </div>
          <div class="col py-3">
            <h3><u>Easy</u></h3>
            <p>Remember Thee has a simple, easy-to-use interface. You’ll find adding verses, categorizing them and looking them up to be straightforward tasks without distraction or confusion.</p>
          </div>
          <div class="col py-3">
            <h3><u>Organized</u></h3>
            <p>Remember Thee keeps the verses you need organized on your phone. You don’t have to look through notes on your notes app or through old notebooks or notecards.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Sign Up -->
    <section id="sign-up" class="text-center container">
      <div class="row justify-content-center">
        <div class="col">
          <h3><u>Get Remember Thee</u></h3>

          <div id="sign-up-button">
            <p class="pb-2">Please press the button below if you would like to download Remember Thee.</p>
            <button type="button" class="button button-dark p-2" onclick="clickGetRememberThee()">Get Remember Thee</button>
          </div>

          <div id="sign-up-form" hidden="true">
            <p class="pb-3">Thank you for your interest.</p>
            <p class="pb-3">Remember Thee is still a concept. However, to start building Remember Thee, we are interested in speaking with users who think it might be useful for them. If that's you, please fill out the contact form below, and we'll be in touch.</p>
            <form>
              <div class="pt-3 px-3">
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" maxlength="20" required>
              </div>
              <div class="pt-3 px-3">
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" maxlength="20" required>
              </div>
              <div class="p-3">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" maxlength="50" required>
              </div>
              <div class="px-3">
                <textarea class="form-control" id="inputMessage" placeholder="How did you hear about Remember Thee? (optional)" maxlength="300"></textarea>
              </div>
              <div class="pt-3" id="error_message" hidden="true"></div>
              <div class="p-3">
                <button id="submit-button" type="button" class="button button-dark" onclick="submitGetRememberTheeForm()">Submit</button>
              </div>
            </form>
          </div>

          <div id="thank-you" hidden="true">
            <p>Thank you!</p>
          </div>
        <div>
      </div>
    </section>

    <section id="support" class="text-center container">
      <div class="row justify-content-center">
        <div class="col">
          <h3><u>Pray For Remember Thee</u></h3>
          <p>Please keep Remember Thee and those working on it in your prayers. Our hope is that it will draw you and those who use it into a closer relationship with God through His Son Jesus Christ. Let us know you're praying by pressing the 🙏 emoji below.</p>
        </div>
      </div>
      <div>
        <button class="prayerButton" onclick="clickPrayerButton()">🙏</button>
      </div>
    </section>

    <section id="contact-us" class="text-center container">
      <div class="row justify-content-center">
        <div class="col">
          <h3><u>Contact Us</u></h3>
          <p> If you have any questions, thoughts, or feedback, please feel free to contact us at <u>help@rememberthee.com</u> and we'll get back to you as soon as we can.</p>
        </div>
      </div>
    </section>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script type="text/javascript">
      function clickGetRememberThee(argument) {
        fetch('/get-remember-thee', {method: 'POST'});
        document.getElementById("sign-up-button").hidden = true;
        document.getElementById("sign-up-form").hidden = false;
      }

      function clickPrayerButton() {
        fetch('/pray', {method: 'POST'});
      }

      function submitGetRememberTheeForm(argument) {
        const firstName = document.getElementById("inputFirstName").value;
        const lastName = document.getElementById("inputLastName").value;
        const email = document.getElementById("inputEmail").value;
        const message = document.getElementById("inputMessage").value;

        // Validate inputs
        var error_message = document.getElementById("error_message");
        var text;
        if (firstName.length == "") {
          text = "First name is required";
          error_message.innerHTML = text;
          error_message.hidden = false;
          return false;
        }

        if(lastName.length == "") {
          text = "Last name is required";
          error_message.innerHTML = text;
          error_message.hidden = false;
          return false;
        }

        const at_index = email.indexOf("@");
        const dot_index = email.lastIndexOf(".");
        if (at_index == -1 || dot_index == -1 || dot_index - at_index <= 1) {
          text = "Please enter a valid email";
          error_message.innerHTML = text;
          error_message.hidden = false;
          return false;
        }

        // Send inputs to server
        var submit_button = document.getElementById("submit-button");
        submit_button.disabled = true;
        submit_button.innerHTML = "Submitting...";
        submit_button.style.opacity = .5;

        const data = {
          firstName: firstName,
          lastName: lastName,
          email: email,
          message: message,
          browser: window.navigator.userAgent
        };

        fetch('/sign-up', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById("sign-up-form").hidden = true;
          document.getElementById("thank-you").hidden = false;
        })
        .catch(error => {
          text = 'Something went wrong. Please try again or contact help@rememberthee.com.';
          error_message.innerHTML = text;
          error_message.hidden = false;
          submit_button.disabled = false;
          submit_button.innerHTML = "Submit";
          submit_button.style.opacity = 1;
        });
      }
    </script>
  </body>
</html>
