<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <p>Hi {{firstName}},</p>

    <p>
        Thank you for your interest in Remember Thee! We’re currently interviewing potential users about why they’re interested in Remember Thee.
    </p>

    <p>
        We’d love to hear more about what you do today to keep track of and recall useful Bible verses, and how Remember Thee might help you. You’re also more than welcome to try an experimental prototype to give us your feedback.
    </p>

    <p>
        Your experiences and insights will help us ensure Remember Thee is a blessing for you and all those who use it.
    </p>

    <p>
        If you’d like to chat, feel free to respond to this email with your availability and I’ll schedule some time for us to chat further.
    </p>

    <p>
        Thanks, and God bless!
    </p>

    <h5 style="margin-bottom: 0px">Trevor Dowds, Founder and Creator</h5>
    <img src="https://www.rememberthee.com/static/images/Logo.png" style="width: 175px; height: 36px;">
    <p style="margin: 0px;"><i>"looking for the blessed hope and glorious appearing of our great God and Savior Jesus Christ."<br>- Titus 2:13</i></p>
</body>
</html>
