/* Styles */

body {
  font-family: Roboto;
}

h1 {
  font-size: 58px;
}

h3 {
  font-size: 36px;
}

p, button {
  font-size: 22px;
  margin-bottom: 0px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 378px;
  border-radius: 10px;
}

.button, input, textarea {
  border: none;
  border-radius: 10px;
}

.button-dark {
  background-color: black;
  color: white;
}

.header-font {
  font-size: 36px;
}

.text-font {
  font-size: 24px;
}

.number {
  display: flex;
  background-color: rgb(196, 196, 196);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

#hero, #value {
  background-color: black;
  color: white;
}

#sign-up, #support, #contact-us {
  max-width: 800px;
}

#error_message {
  color: #ff0f0f;
  text-align: center;
  font-size: 16px;
  transition: all 0.5s ease;
}
