/* Styles */

body {
  font-family: Roboto;
}

h1 {
  font-size: 58px;
}

h3 {
  font-size: 36px;
}

p, button {
  font-size: 22px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 378px;
  border-radius: 10px;
}


.button-dark {
  background-color: black;
  color: white;
}

.header-font {
  font-size: 36px;
}

.text-font {
  font-size: 24px;
}

#hero, #value {
  background-color: black;
  color: white;
}

#sign-up, #support {
  max-width: 800px;
}





/* Form Styling*/

.invalid {
  border: 1px solid red;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  border: 1px solid rgb(44, 44, 44);
  font-size: 18px;
  outline: none;
  color: #333;
}

.error {
  color: rgb(206, 0, 0);
  font-size: 5px;
  margin-top: 2px;
}

::placeholder {
  color: #888;
  font-size: .80em;
  opacity: 20px;
}

.hide {
  opacity: 0;
}

button {
  color: black;
  padding: 20px;
  border: 1px solid rgb(40, 48, 45);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
  color: rgb(20, 20, 20);
}

button:hover {
  background-image: linear-gradient(
    to right,
    #0b0b0c 0%,
    #1a1a1b 100%
  );
  color: white;
}


hr {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 1px;
  border: none;
  background-color: rgb(0, 114, 66);
}

#error_message{
  margin-bottom: 15px;
  color: #f44336;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.text-area {
  position: relative;
  font-family: monospace;

}
  .counter {
    position: absolute;
    bottom: 5px;
    right: 30px;
    color: #60a563;
  }
  textarea {
    width: 100%;
  }
